body {
	background-color: #edf6f6;
}

.modal-wide100 {
	width: 100%;
}

.modal-wide90 {
	width: 90%;
}

.modal-wide80 {
	width: 80%;
}

.modal-wide70 {
	width: 70%;
}

.modal-wide60 {
	width: 60%;
}

.modal-wid50 {
	width: 50%;
}

.notVisible {
	/* Theoretically for IE 8 & 9 (more valid) */
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity = 0);
	/* Older than Firefox 0.9 */
	-moz-opacity: 0;
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0;
	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0;
}

footer {
	margin-top: 10px;
}

#main {
	padding-left: 0px;
	padding-right: 0px;
}

#reklams {
	height: 400px;
}

#reklams div {
	height: 100px;
}

@media ( min-width : 992px) {
	#reklams img {
		width: 175px;
		height: 100px;
	}
}

#closestEvents {
	margin-top: 15px;
}

.addElement {
	text-decoration: underline;
	cursor: pointer;
	color: black;
}

.modal-content {
	background-color: #edf6f6;
}

textarea {
	resize: none;
}

#about hr {
	background-color: #82b1ea;
	border-color: #82b1ea;
	color: #82b1ea;
}

.menuTabs {
	text-align: center;
	margin: 0 auto;
	background-color: #c9def6;
	color: #7d9ec8;
}

#aboutContent h1 h2 h3 {
	font-weight: bold;
	color: #404040;
}

#about .teamItemInfo p {
	text-align: center;
	margin-bottom: 5px;
	color: #2387dc;
	font-weight: bold;
}

#about .teamItemInfo p span {
	color: #5a83b5;
}

#about .teamItem {
	alignment-adjust: middle;
}

#about .modal h2 {
	color: #5a83b5;
}

#about .modal h3 {
	font-weight: bold;
}

#about .modal span {
	color: #bcd5f0;
}

#about .AboutInformationContacts p {
	color: #bcd5f0;
}

#events h2 {
	font-weight: bold;
	color: #49709e;
	text-align: center;
}

#eventsFilter .panel-heading {
	background-color: #648fc3;
}

#eventsFilter .panel-title {
	color: #ffffff;
}

#eventsFilterPanel {
	background: #82b1ea;
	overflow: hidden;
	padding: 0 5px;
	
}

#eventsFilterPanel .wr {
	background: #82b1ea;
	margin-top: 5px;
	border: none;
}

#eventsFilterPanel input, #eventsFilterPanel select {
	width: 80%;
	padding: 5px;
}

#eventsFilterPanel span {
	color: #000;
	height: 100%;
	vertical-align: middle;
	margin-bottom: 0px;
	display: inline;
	font-weight: normal;
}

#eventsFilterForm label {
	font-family: verdana;
	color: #fff;
}

#eventsFilterPanel .btn {
	background-color: #648fc3;
	width: 80%;
	margin-top: 15px;
	border-radius: 1px;
}

#eventsFilterPanel .control-group {
	margin-bottom: 10px;
}

#filteredEventsMessage {
	color: #FFF;
	background-color: rgba(82, 182, 236, 1);
	text-indent: 20px;
	padding: 5px
}

#EventViewShortDescription {
	color: #000;
}

#events .eventItemInfoLabel {
	color: #4D4F54;
	border-radius: 5px;
	font-size: 11px;
	rgba
	(153,
	151,
	151,
	0.5);
}

#EventViewFullDescription p a button:first {
	margin-bottom: 20px;
}

#EventViewOrganizator .eventItemInfo {
	font-size: 19px;
	color: red;
}

.eventItemInfo {
	font-size: 12px;
	color: red;
}

.eventItem h4 {
	color: #49709e;
	font-weight: bold;
}

.eventItem span {
	color: #a9c8f0;
}

.eventItem .media {
	height: 256px;
}

.eventItem h3 {
	color: #404040;
	font-weight: bold;
}

.eventItem #EventViewMainInfo {
	background-color: #82b1ea;
	color: #ffffff;
	margin-bottom: 15px;
}

.eventItem p {
	color: #a0c3ed;
	font-weight: bold;
}

.eventItem h4 {
	font-weight: bold;
	color: #5a83b5;
}

.menuTabs {
	background-color: #82b1ea;
}

.menuTabs ul {
	display: inline-block;
	list-style: none;
	zoom: 1;
}

.menuTabs ul li {
	float: left;
	margin-right: .8em;
	padding: 0;
}

.menuTabs li.active a {
	background-color: #5a83b5;
	color: #000;
}

.menuTabs li a {
	color: #ffffff;
}

#eventViewFullPicture {
	background-image: url(../images/aboutUs.png);
	/* 	width: 792px; */
	height: 300px;
}

#eventViewFullPicture {
	color: #ffffff;
}

#eventViewFullMenuContent {
	padding-top: 15px;
}

#eventViewFullMenuContent p {
	color: #819ab8;
}

#eventLectors .eventLector {
	padding-bottom: 15px;
}

#pageWelcome {
	background-image: url(../images/logo.jpg);
	width: 950px;
	height: 300px;
}

.notify {
	/*height: 100%;*/
	border-bottom: 1px solid #2387dc;
}

.notify-left {
	vertical-align: middle;
}

.social {
	display: block;
	padding: 2px 2px;
	float: left;
	text-align: center;
}

.social-links img:hover {
	background: #EDF6F6;
	s
}

.uploadEventPictureSection {
	height: 200px;
	z-index: 125;
}

#uploadEventPicture {
	border-width: 9px;
	border-color: rgb(130, 177, 234);
	border-style: dashed;
	background-color: rgb(213, 230, 251);
	z-index: 122;
}

#uploadEventPicture input {
	cursor: pointer;
	color: transparent;
	width: 100%;
	height: 100%;
}

#uploadEventPicturePhoto {
	background-color: rgb(130, 177, 234);
	z-index: 124;
}

#uploadEventPictureLabel {
	font-size: 24px;
	font-family: "Lato";
	color: rgb(130, 177, 234);
	text-align: center;
	z-index: 123;
}

#createNewEvent {
	background-color: #82b1ea;
}

#createNewEvent .panel-heading {
	background-color: #D5E6FB;
}

#googleMaps div {
	background: none !important;
}

#createNewEvent .row {
	margin-left: 0px;
	margin-right: 0px;
}

#createNewEvent input, #createNewEvent select {
	padding: 5px;
}

#createNewEvent .form-group {
	margin-bottom: 10px;
	margin-top: 10px;
}

#createNewEvent fieldset {
	margin-top: 30px;
}

#createNewEvent label {
	/* 	width: 20%; */
	text-align: left;
	color: #fff !important;
}

#createNewEvent .panel-heading {
	padding: 3px 3px;
}

.findBetterOpportunitiesBackground {
	position: absolute;
	background-image: url("../images/Overlay.png");
	opacity: 0.6;
	left: 0px;
	top: 0px;
	height: 290px;
	z-index: 631;
}

.findBetterOpportunities {
	font-size: 48px;
	font-family: "Lato";
	color: rgb(255, 255, 255);
	line-height: 0.375;
	position: absolute;
	z-index: 632;
}

#eventFullViewDate {
	border-width: 3px;
	border-color: rgb(238, 238, 238);
	border-style: solid;
	border-radius: 20px;
	z-index: 137;
}

#eventViewFullPicture span {
	color: #fff;
}

.glyphicon {
	margin-right: 5px;
}

.thumbnail {
	margin-bottom: 20px;
	padding: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.item.list-group-item {
	float: none;
	width: 100%;
	background-color: #fff;
	margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover
	{
	background: #428bca;
}

.item.list-group-item .list-group-image {
	margin-right: 10px;
}

.item.list-group-item .thumbnail {
	margin-bottom: 0px;
}

.item.list-group-item .caption {
	padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
	background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
	display: table;
	content: " ";
}

.item.list-group-item img {
	float: left;
}

.item.list-group-item:after {
	clear: both;
}

.list-group-item-text {
	margin: 0 0 11px;
}

#events p {
	padding: 5px;
	margin-bottom: 0px;
}

#eventViewFullPicture div {
	margin: 3px;
}

.eventParticipantTable .btn-group .btn span.glyphicon {
	opacity: 0;
}

.eventParticipantTable .btn-group .btn.active span.glyphicon {
	opacity: 1;
}

#formsBuilder iframe {
	width: 100%;
	height: 650px;
	overflow: hidden;
}

#loginFormContent {
	background: #E0F9F9;
	padding: 0px 50px;
	border: 5px solid rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}