<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:security="http://www.springframework.org/schema/security"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
      http://www.springframework.org/schema/security
      http://www.springframework.org/schema/security/spring-security-3.0.xsd
      http://www.springframework.org/schema/util
      http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<security:http auto-config="true" use-expressions="true">
		<security:intercept-url pattern="/" access="permitAll" />
		<security:intercept-url pattern="/resources/**" access="permitAll" />
		<security:intercept-url pattern="/images/**" access="permitAll" />
		<security:intercept-url pattern="/favicon.ico" access="permitAll" />
		<security:intercept-url pattern="/login" access="isAnonymous()" />
		<security:intercept-url pattern="/users/register" access="permitAll" />
		<security:intercept-url pattern="/users/register/**" access="permitAll" />
		<security:intercept-url pattern="/about" access="permitAll" />
		<security:intercept-url pattern="/users" access="permitAll" />
		<security:intercept-url pattern="/users/ajax/**" access="permitAll" />
		<security:intercept-url pattern="/organizations" access="permitAll" />
		<security:intercept-url pattern="/organizations/ajax/**" access="permitAll" />
		<security:intercept-url pattern="/**/ajax/**" access="permitAll" />
		<security:intercept-url pattern="/events" access="permitAll" />
		<security:intercept-url pattern="/events/search" access="permitAll" />
		<security:intercept-url pattern="/events/search/main" access="permitAll" />
		<security:intercept-url pattern="/events/createEvent" access="hasRole('ROLE_ORGANIZATION')" />
		<security:intercept-url pattern="/j_spring_security_check" access="isAnonymous()" />
		<security:intercept-url pattern="/error/**" access="permitAll" />
		<security:intercept-url pattern="/**"
			access="hasAnyRole('ROLE_INDIVIDUAL', 'ROLE_ORGANIZATION', 'ROLE_ADMINISTRATOR')" />

		<security:form-login login-processing-url="/j_spring_security_check" login-page="/login"
			default-target-url="/" authentication-failure-url="/login?error" />
		<security:remember-me token-validity-seconds="1209600" key="podobri" data-source-ref="dataSource" />
		<security:logout logout-url="/j_spring_security_logout" logout-success-url="/" invalidate-session="true" />
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider user-service-ref="userService">
			<security:password-encoder hash="md5" />
		</security:authentication-provider>
	</security:authentication-manager>
	
	<bean name="userService" class="com.mmm.podobri.service.UserServiceImpl">
	</bean>

	<!-- If request parameter "targetUrl" is existed, then forward to this url -->
	<!-- For update login form -->
	<bean id="savedRequestAwareAuthenticationSuccessHandler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
		<property name="targetUrlParameter" value="targetUrl" />
	</bean>

</beans>